.nav {
  width: 133px;
  height: 35px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: 50px;
  cursor: pointer;
  p:hover {
    filter: drop-shadow(0px 10px 10px #dccbd6);
    color: #e800a4;
  }
  .active {
    filter: drop-shadow(0px 10px 10px #dccbd6);
    color: #e800a4;
  }
  p {
    font-size: 18px;
    line-height: 0px;
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 700;
    text-align: center;
  }
}
.nav::before {
  display: none;
}
