.table-header {
  width: 873px;
  height: 41px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border-radius: 5px;
  background-color: #efe3ea;
  button {
    float: right;
  }
  h2 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-left: 20px;
  }
}
table {
  width: 873px;
  height: 41px;
  margin-left: auto;
  margin-right: auto;

  td,
  th {
    text-align: center;
    text-align: left;
    padding: 8px;
  }
  tr th {
    text-align: center;
  }
  tr td {
    text-align: center;
    align-items: center;
  }
  tr td:nth-child(2) {
    display: inline-flex;
    p {
      padding: 0 5px;
    }
  }
  tr th:nth-child(2) {
    text-align: left;
  }
}
